<div class="add-genre-page">
  <div class="row add-new-genre">
    <div class="col-md-4 col-sm-4 col-xs">
      <label class="genre-label">Genre:</label>
    </div>
    <div class="col-md-4 col-sm-4 col-xs">
      <input type="text" class="input-genre" [(ngModel)]="newGenre" (change)="isNameValid = true" [ngStyle]="{'border': isNameValid ? null : '1.5px solid red'}"/>
      <div  class="erorr-genre">
        <p *ngIf="!isNameValid" class="error-paragraph">Please enter the genre.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs">
      <button type="button" class="btn btn-light" (click)="addGenre()">Add</button>  
    </div>
  </div>

  <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-xs-4 offset-xs-4 genre-list">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let genre of genres">{{genre.zanr}}</li>
    </ul>
  </div>


</div>