<div class="add-lists-page">
    <div class="row add-new-lists">
      <div class="col-md-4 col-sm-4 col-xs">
        <label class="lists-label">List:</label>
      </div>
      <div class="col-md-4 col-sm-4 col-xs">
        <input type="text" class="input-lists" [(ngModel)]="newList" (change)="isNameValid = true" [ngStyle]="{'border': isNameValid ? null : '1.5px solid red'}"/>
        <div  class="erorr-lists">
          <p *ngIf="!isNameValid" class="error-paragraph">Please enter list name.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs">
        <button type="button" class="btn btn-light" (click)="addList()">Add</button>  
      </div>
    </div>
  
    <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-xs-4 offset-xs-4 lists-list">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let list of lists">{{list.listName}}</li>
      </ul>
    </div>
  
  
  </div>