<div class="register-page align-middle">
  <div class="col-md-4 offset-md-4 register">
    <h1>FILMOTEKA</h1>
    <div class="col-md-6 offset-md-3 firstname-section">
      <label>First name:</label>
      <br>
      <input type="text" class="input"/>
    </div>
    <div class="col-md-6 offset-md-3 last-name-section">
      <label>Last name:</label>
      <br>
      <input type="text" class="input"/>
    </div>
    <div class="col-md-6 offset-md-3 email-section">
      <label>Email:</label>
      <br>
      <input type="text" class="input"/>
    </div>
    <div class="col-md-6 offset-md-3 username-section">
      <label>Username:</label>
      <br>
      <input type="text" class="input"/>
    </div>
    <div class="col-md-6 offset-md-3 password-section">
      <label>Password:</label>
      <br>
      <input type="password" class="input"/>
    </div>
    <div class="col-md-6 offset-md-3 confirm-password-section">
      <label>Confirm password:</label>
      <br>
      <input type="password" class="input"/>
    </div>
    <div class="col-md-6 offset-md-3 date-of-birth-section">
      <label>Date of birth:</label>
      <br>
      <input type="text" class="input"/>
    </div>    
    <div class="col-md-6 offset-md-3 country-section">
      <label>Country:</label>
      <br>
      <input type="text" class="input"/>
    </div>

    <div class="col-md-4 offset-md-4">
      <button type="button" class="btn btn-light btn-register" >Register</button>
    </div>
  </div>

</div>
